@page { margin:0.5in 0.5in 0.5in 0.5in; }

    .receipt {
        margin:0 auto 1in auto;
        font-family:"Courier New",monospace;
        border:solid #000;
        padding:0 0.25in;
        width:5.5in;
        height:2.5in;
        page-break-inside:avoid;
        page-break-before:auto;
        page-break-after:auto;
    }
    .receipt div, .receipt p, .receipt span {
        page-break-before:avoid;
        page-break-after:avoid;
    }

    .receipt div {
        margin:0;
        margin-bottom:0.1in;
        padding:0;
    }

    .receipt span {
        display:inline-block;
        line-height:2;
    }

    .receipt p, .receipt span {
        margin:0; padding:0;
    }

    .title {
        font-family:Arial,sans-serif;
        font-size:133.1%;
        font-weight:bold;
        width:100%;
    }

    .label {
        font-weight:bold;
        text-decoration:underline;
    }

    .date, .payee, .phone, .signature {
        border-bottom:solid thin #444;
    }

    .payee, .signature { width:2in; }

    .phone, .date  { width:1.25in; }

    .amount, .payer {
        font-style:italic;
        text-decoration:underline;
    }