<link href="css/beneficiary.css" rel="stylesheet">
<ion-view class="outer-layout" ng-controller="checkbookrequestCtrl">
    <div id="Loader" class="block" ng-show="ShowLoader">
        <div class="spinner">
            <ion-spinner icon="android"></ion-spinner>
        </div>
    </div>
    <div class="padding" style="margin-bottom: 10px;">
        <div class="row fixed-top-home">
            <img class="img-header-home" src="img/Banner.png" />
        </div>
        <div class="row" style="margin:2px;padding:1px">
            <div class="col-60 wel-user">
                <p>Welcome, {{Username}}</p>
            </div>
            <div class="col home-logout">
                <p><a href="#/" ng-click="Logout()">Logout</a></p>
            </div>
        </div>
    </div>
    <ion-content class="padding scroll-content ionic-scroll overflow-scroll middlespace">       
        <span>CheckBook Request</span>
        <div class="fixed-mid-home">
            <div class="boxpanel">
                <label class="item item-input item-stacked-label" style="text-align:left;">
                    <span class="input-label"> Select Your A/C : </span>
                    <select class="select-pub" ng-model="request.SelectedOption" ng-options="o.Caption for o in options"></select><br />
                </label>
            </div>
            <div class="row">
                <button class="button button-block button-pub" ng-click="RequestChequeBook()">Request Chequebook</button>
            </div>
        </div>
    </ion-content>
    <div class="fixed-bottom">
        <div class="tabs-icon-top tabs-positive" style="background-color:#5d75e9;">
            <div class="tabs">
                <a class="tab-item active" ng-click="Back()"  style="border-color:#5d75e9;">
                    <i class="icon ion-arrow-left-a" style="color:white;"></i>
                    Back
                </a>
                <a class="tab-item active" ui-sref="dashboard" style="border-color:#5d75e9;">
                    <i class="icon ion-home" style="color:white;"></i>
                    Home
                </a>
                <a class="tab-item" ui-sref="branchdetail" style="border-color:#5d75e9;">
                    <i class="icon ion-ios-location" style="color:white;"></i>
                    Branch details
                </a>
                <a class="tab-item" ui-sref="managementdetail" style="border-color:#5d75e9;">
                    <i class="icon ion-android-contacts" style="color:white;"></i>
                    Contacts
                </a>

            </div>
        </div>
    </div>
</ion-view>